# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
- List popular languages for Data Science
- List pouplar libraries for Data Science
- Learn to use Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools. |
| --- |
| Jupyter Notebook | 
| RStudio | 
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Enrico